
// Fonts
//@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
//@import "variables";

// Bootstrap
//@import "~bootstrap-sass/assets/stylesheets/bootstrap";


ul, li {
  list-style-type: none;
}

.show-page-container {
  padding: 0 35px 0 35px;
}

.skin-red-light .sidebar-menu>li>a {
  font-weight: normal;
}